.list-group-item.webdev {
  z-index: 2;
  color: #e6e1e1;
  background-color: #66707a;
  border-color: #3a4347;
}
.list-group-item.active {
  z-index: 2;
  color: #b0bac4;
  background-color: #567ca3;
  border-color: #3a4347;
}
