<div class="container mb-5">
  <h1 class="display-4"> {{quiz.title}}

  </h1>
  <ul class="list-group">
    <li *ngFor="let question of quiz.questions" class="list-group-item">
      <div>
        <h2 class="display-4">
          {{question.title}}
        </h2>
        <p class="float-right">{{question.points}} points</p>
      </div>
      <p class="ml-2">
        <b>Question:</b> {{question.description}}
      </p>
      <div [ngSwitch]="question.questionType" class="ml-2">
        <app-essay-question *ngSwitchCase="'ESSAY'" [question]="question">
        </app-essay-question>
        <app-true-false-question *ngSwitchCase="'TRUE_FALSE'" [question]="question">
        </app-true-false-question>
        <app-choice-question *ngSwitchCase="'CHOICE'" [question]="question">
        </app-choice-question>
        <app-fill-blanks-question *ngSwitchCase="'FILL_BLANKS'" [question]="question">
        </app-fill-blanks-question>
      </div>
    </li>
  </ul>
  <div class='d-flex justify-content-center form-inline'>
    <button class='btn btn-danger mt-3 mr-5 mb-5' routerLink="/quizzes">Cancel</button>

    <button class="btn btn-primary mt-3  ml-5 mb-5" (click)="submitQuiz(quiz)">
      Submit Quiz
    </button>
  </div>
</div>
