<div class="container-fluid">
  <div class='row'>
    <div class='col'>
      &nbsp;
    </div>
    <div class='col-10'>
      <button *ngIf='currentUser._id !== 0' class='btn btn-warning float-right mb-3'
      routerLink="/profile">Back to Profile</button>
      <div class="row">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item bg-dark text-light">
              Courses
            </li>
            <div *ngIf='courses !== []'>
            <li class="list-group-item webdev" *ngFor="let course of courses" (click)="selectCourse(course)" [ngClass]="{'active': course === selectedCourse}">
              {{course.title}}
            </li>
          </div>
          </ul>
        </div>
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item bg-dark text-light">
              Modules
            </li>
            <div *ngIf='selectedCourse.modules !== []'>
            <li class="list-group-item webdev" *ngFor="let module of selectedCourse.modules" (click)="selectModule(module)" [ngClass]="{'active': module === selectedModule}">
              {{module.title}}
            </li>
          </div>
          </ul>
        </div>
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item bg-dark text-light">
              Lessons
            </li>
            <div *ngIf='selectedModule.lessons !== []'>
            <li class="list-group-item webdev" *ngFor="let lesson of selectedModule.lessons" (click)="selectLesson(lesson)" [ngClass]="{'active': lesson === selectedLesson}">
              {{lesson.title}}
            </li>
          </div>
          </ul>
        </div>
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item bg-dark text-light">
              Topics
            </li>
            <div *ngIf='selectedLesson.topics !== []' >
            <li class="list-group-item webdev" *ngFor="let topic of selectedLesson.topics" (click)="selectTopic(topic)" [ngClass]="{'active': topic === selectedTopic}">
              {{topic.title}}
            </li>
          </div>
          </ul>
        </div>
      </div>
    </div>
    <div class='col'>
      &nbsp;
    </div>
  </div>
  <div class='row mt-5'>
    <div class='col'>
      &nbsp;
    </div>
    <div class="col-10">
      <ul class="list-group">
        <li class="list-group-item bg-dark text-light">
          Widgets
        </li>
        <div *ngIf='selectedTopic.widgets !== []'>
        <div class="list-group-item webdev"
        *ngFor="let widget of selectedTopic.widgets" (click)="selectWidget(widget)"
        [ngClass]="{'active': widget === selectedWidget}">
          <li class="list-group-item webdev" *ngIf="widget.className == 'HEADING'">
            <h1 *ngIf="widget.size == 1">
              {{widget.text}}
            </h1>
            <h2 *ngIf="widget.size == 2">
              {{widget.text}}
            </h2>
            <h3 *ngIf="widget.size == 3">
              {{widget.text}}
            </h3>
            <h4 *ngIf="widget.size == 4">
              {{widget.text}}
            </h4>
          </li>
          <li class="list-group-item webdev" *ngIf="widget.className == 'PARAGRAPH'">
            <p>
              {{widget.text}}
            </p>
          </li>
          <li class="list-group-item webdev" *ngIf="widget.className == 'LIST'">
            <div *ngIf="widget.ordered == 'UNORDERED'">
              <ul *ngFor="let item of splitListItems(widget.listItems)">
                <li>
                  {{item}}
                </li>
              </ul>
            </div>
            <div *ngIf="widget.ordered == 'ORDERED'">
              <ol *ngFor="let item of splitListItems(widget.listItems)">
                <li>
                  {{widget.listItems}}
                </li>
              </ol>
            </div>
          </li>
          <li class="list-group-item webdev" *ngIf="widget.className == 'IMAGE'">
            <img width="560" height="315" src="{{widget.src}}" />
          </li>
        </div>
      </div>
      </ul>
    </div>
    <div class='col'>
      &nbsp;
    </div>
  </div>
</div>
