.list-group-item.webdev {
  z-index: 2;
  color: #525151;
  background-color: #e8e8e8;
  border-color: #b8c3c8;
}
.list-group-item.active {
  z-index: 2;
  color: #525151;
  background-color: #7b8085;
  border-color: #b8c3c8;
}
