<div class="container-fluid row">
  <label class='col-lg-4' routerLink="/home">
    <h1 class="display-2"> Whiteboard</h1>
  </label>
  <div class='col-xl mt-5'>
    <ul class="nav nav-tabs ml-3">

     <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/enrollment">Sections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/quizzes">Quizzes</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet>
</router-outlet>
