
<div class='row container-fluid'>
  <div class='col'>
    &nbsp;

  </div>
  <div class='col-6'>

    <h2>Enrollments</h2>
    <ul class="list-group">
      <li *ngFor="let section of sections" class="list-group-item">
        <b>Section: </b>{{section.title}} <br />
        <b>Seats: </b>{{section.seats}}
        <button class="float-right btn btn-success" (click)="enroll(this.currentUser._id,section._id, section.seats)">Enroll</button>
      </li>
    </ul>
  </div>
  <div class='col'>
    &nbsp;
  </div>

</div>
