<div class="row">
  <div class='col'>
    &nbsp;
  </div>
  <div class="col-3">
    <h2 class='display-5'>Section Editor
      <div class='float-right'>
        <button class='btn-sm btn-warning'
        routerLink="/profile">Back to Profile</button>
      </div>
    </h2>
    <ul class="list-group">
      <li class="list-group-item bg-dark text-light">
        Courses
      </li>
      <li (click)="selectCourse(course)" *ngFor="let course of courses" [ngClass]="{'active': course.id == selectedCourse.id}" class="list-group-item">
        {{course.title}}
      </li>
    </ul>
  </div>
  <div class="col-7 mt-5">
    <ul class="list-group">
      <li class="list-group-item active">
        Sections
      </li>
      <li class="list-group-item">
        <div class='row'>
          <div class='col-3'>
            <label>Section Title
        <input [(ngModel)]="section.title" class="form-control" value='{{selectedCourse.title}}-Section ' >
      </label>
          </div>
          <div class='col-7'>
            <label>Section seats
        <input [(ngModel)]="section.seats" class="form-control" type='number' placeHolder='24'>
      </label>
          </div>
          <div class='col'>
            <button (click)="addSection(section)" class="btn btn-success mt-4 float-right">Add</button>
          </div>
        </div>
      </li>
      <li *ngFor="let section of sections" class="list-group-item">
        <b>Section: </b>{{section.title}} <br />
        <b>Seats: </b>{{section.seats}}
        <button class='btn btn-danger float-right' (click)='deleteSection(section._id)'>Delete</button>
      </li>
    </ul>
  </div>
  <div class='col'>
    &nbsp;
  </div>
</div>
