<div class="container-fluid">
  <div class="row">
    <!-- <div class='col-1'>
      &nbsp;
    </div> -->
    <div class='col-6 ml-5'>
      <h1>Profile</h1>
      <div *ngIf="role=='ADMIN'" class="float-right">
        <button class='btn btn-primary' routerLink="/sections">Admin page</button>
      </div>
      <div class="form-group row">
        <label for="emailFld" class="col-lg-2 col-form-label">Email</label>
        <div class="col-lg-10">
          <input type="text" readonly class="form-control-plaintext" value={{currentUser.email}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="usernameFld" class="col-lg-2 col-form-label">Username</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" value={{currentUser.username}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordFld" class="col-lg-2 col-form-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" value={{currentUser.password}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="firstNameFld" class="col-lg-2 col-form-label">
        First Name
      </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" value={{currentUser.firstName}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastNameFld" class="col-lg-2 col-form-label">
        Last Name
      </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" value={{currentUser.lastName}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="phoneFld" class="col-lg-2 col-form-label">
        Phone
      </label>
        <div class="col-lg-10">
          <input class="form-control" placeholder="phone" value={{currentUser.phone}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="dateOfBirthFld" class="col-lg-2 col-form-label">
        Date of Birth</label>
        <div class="col-lg-10">
          <input class="form-control" value={{currentUser.dateOfBirth}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="col-lg-2 col-form-label">Role</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)]="role" readonly class="form-control-plaintext" value={{currentUser.role}}>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class='col-3'>
          <button type="button" class="btn btn-success btn-block">Update</button>
        </div>
        <div class='col-3'>
          <button type="button" class="btn btn-danger btn-block"
          (click)="logout()">Log out</button>
        </div>

      </div>
    </div>
    <div class='col-5'>
      <h1 class="mb-3">Your Sections</h1>
      <li *ngFor="let enrollment of enrollments" class="list-group-item">
        <b>Section: </b>{{enrollment.section.title}} <br />
        <b>Seats: </b>{{enrollment.section.seats}}
      </li>
    </div>
  </div>
</div>
