<div class="row mt-5">
  <div class="col-5">

<div class="jumbotron">
  <h1 class="display-3"><strong>Welcome!</strong></h1>
  <p class="lead">Whiteboard has a lot of courses. Check it out!</p>
  <hr class="my-10">
</div>
</div>
<div class='col-5 mt-5'>
  <ul class="list-group">
    <li class="list-group-item bg-dark text-light">
      Courses
    </li>
    <li class="list-group-item webdev"
    *ngFor="let course of courses"
    (click)="selectCourse(course)"
    [ngClass]="{'active': course === selectedCourse}">
      {{course.title}}
    </li>
  </ul>
  <button class='btn btn-primary float-right mt-3' routerLink="/courses">View more... </button>
</div>

</div>
