<div class="jumbotron container" *ngIf='currentUser._id ==0'>
  <em class="display-3">Where students thrive.</em>
  <p class="lead">Welcome to Whiteboard! If you don't already have an account please register for a new one. Happy hacking!</p>
  <hr class="my-10">
  <div class='row d-flex justify-content-start'>
    <div class='col'>
      &nbsp;
    </div>
    <div class='col'>
      <p> Already have an account? </p>
      <a class="btn btn-lg btn-primary" routerLink="/login" role="button">Log in here</a>
    </div>
    <div class='col'>
      <p> Don't have an account? </p>
      <a class="btn btn-lg btn-success" routerLink="/register" role="button">Register here</a>
    </div>
    <div class='col'>
      &nbsp;
    </div>
  </div>
</div>

<div class="ml-5 mb-5">
  <div class='col-11 ml-2 d-flex flex-wrap'>
    <div class='form-inline'>
    <h2 class='display-4 ml-4 mr-5'>Available Courses
    </h2>
    <div *ngIf='currentUser._id !== 0' class='float-right'>
      <button class='btn btn-danger float-right ml-4' (click)='logout()'>Log out</button>
      <button class='btn btn-warning float-right' routerLink="/profile">Back to Profile</button>
    </div>
  </div>
    <div class=" d-flex justify-content-row flex-wrap ml-2">
      <div *ngFor="let course of courses" class="col-sm-3">
        <ul class='list-group'>
          <li class='list-group-item mb-4'>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{course.title}}</h5>
                <p class="card-text">{{course.created}}</p>
                <a routerLink="/enrollment" class="btn btn-success">Enroll</a>
                <a routerLink="/courses" class="btn btn-primary float-right">View more...</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
